# Wails 3 dirs
.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# OS
Thumbs.db
.DS_Store

# IDEs
.vscode/*
!.vscode/extensions.json
.zed
